.result {
    color: darkslategrey;
    background: lawngreen;
    display: inline-block;
    font-size: 40px;
    font-family: cursive;
}

.result_number {
    background: rgb(129, 36, 114);
    color: black;
}