body {
    font-family: sans-serif;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .table {
            border: 1px solid black;
            border-collapse: collapse;
            td,
            th {
                border: 1px solid black;
                padding: 20px;
            }
            th:hover {
                cursor: pointer;
                background: grey;
            }
        }
    }
}
